* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../images/galaxy.jpg) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #eff8ff;
    width: 55%;
    border: 2px solid #ff5480;
    padding: 32px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    box-sizing: border-box;
}


h1 {
    font-size: 36px;
    padding-top: 32px;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #708090;
}

h2 {
    margin-top: 32px;
    margin-bottom: 4px;

}

h3 {
    margin-top: 28px;
    margin-bottom: 4px;
}

p {
    font-size: 20px;
    font-family: serif;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: justify;
    line-height: 1.5;
}

figure {
    width: 45%;
    float: left;
    background-color: #c1eaff;
    border: 1px solid #ff5480;
    border-radius: 4px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.img1 {
    width: 100%;
}

figcaption {
    margin: 10px 0px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #708090;

}

.quote {
    font-family: serif;
    border-left: 4px solid #b700ff;
    padding: 10px;
    margin-bottom: 20px;
}

a:link {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff5480;
    line-height: 2;
}

a:visited {
    color: #b61649;
}

a:hover {
    background-color: #fcfc4e;
    font-weight: 300;
}

a:active {
    background-color: #fcfc4e;
    font-style: italic;
}

.back {
    color: #ff5480;
    padding: 16px 36px;
    text-decoration: none;
    border: 2px solid #ff5480;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 32px;
    display: inline-block;
    width: auto;
}

.back:hover {
    background-color: #ff5480;
    color: white;
}



.in {
    list-style-position: inside;
}

.next {
    margin-left: 690px;
}